---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}" target="_blank" style="padding:5px 10px; background:#edf2f7; border-radius:5px; margin-right:10px; text-decoration:none;">
    <i class="fa fa-graduation-cap"></i> Google Scholar</a>.</div>
{% endif %}
{% if site.author.orcid %}
    <a href="{{ site.author.orcid }}" target="_blank" style="padding:5px 10px; background:#edf2f7; border-radius:5px; margin-right:10px; text-decoration:none;">
      <i class="fa fa-id-badge"></i> ORCID
    </a>
  {% endif %}
  {% if site.author.dblp %}
    <a href="{{ site.author.dblp }}" target="_blank" style="padding:5px 10px; background:#edf2f7; border-radius:5px; margin-right:10px; text-decoration:none;">
      <i class="fa fa-book"></i> DBLP
    </a>
  {% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



