---
layout: archive
title: "Invited Talks and Conference Presentations"
permalink: /talks/
author_profile: true
---

{% include base_path %}

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% assign talks_by_year = site.talks | group_by_exp: "post", "post.date | date: '%Y'" %}
{% assign talks_by_year = talks_by_year | sort: "name" | reverse %}

<div class="talks-page">
  {% for year in talks_by_year %}
    <h2 class="pub-year">{{ year.name }}</h2>
    <div class="talk-group">
      {% assign year_items = year.items | sort: "date" | reverse %}
      {% for post in year_items %}
        {% include archive-single-talk.html %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
