---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

<!-- LinkedIn Button -->
<p>
  <a href="https://www.linkedin.com/in/pratyushagnihotri/recent-activity/all/" 
     target="_blank" 
     rel="noopener noreferrer" 
     class="btn-icon" 
     title="LinkedIn Profile">
     <i class="fab fa-linkedin fa-2x"></i> Visit my LinkedIn
  </a>
</p>

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
